UNIFI:
  URLS: # create a list of unifi controllers
  # Integration API v1 (recommended):
  - https://<ip address>:11443/proxy/network/integration/v1
  # Legacy controller API (username/password login):
  # - https://<ip address>:8443
  # Set to true to use site mapping from config/site_mapping.yaml
  # Only needed if UniFi site names differ from NetBox site names
  USE_SITE_MAPPING: false
  # You can also define site mappings directly in this file
  # If both USE_SITE_MAPPING is true and SITE_MAPPINGS is defined,
  # entries in SITE_MAPPINGS will take precedence
  SITE_MAPPINGS:
    "UniFi Site Name": "NetBox Site Name"
    "Corporate Office": "HQ"
    # "Remote Branch": "Branch-01"
NETBOX:
  URL: http://localhost:8080
  ROLES:
    WIRELESS: <name of wireless device role>
    LAN: <name of switch role>
  TENANT: <name of tenant>
